@model LeagueFormViewModel
<form method="post">
    <input-ink for="Name"></input-ink>
    <input-ink for="Country"></input-ink>
    <input-ink for="EmblemUrl"></input-ink>
    <input class="btn btn-success" type="submit" value="Save" title="Save" />
</form>