@model RoundFormViewModel

<form method="post">
    <input-ink for="Number"></input-ink>
    <textarea-ink for="Description" rows="5"></textarea-ink>
    <input class="btn btn-success" type="submit" value="Save" title="Save" />
</form>
