body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.background {
    background-attachment: fixed;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hide-control {
    display: none;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.message {
    margin-top: 20px;
}

.btn-margin {
    margin-bottom: 20px;
}

.spaceLeft {
    margin-left: 10px;
}

.emblem {
    max-height: 32px;
    max-width: 32px;
}

.radio-margin {
    margin-left: 30px !important;
}

.site-logo {
    padding: 10px;
    vertical-align: bottom;
    margin-left: 10px;
}

.btn-bet-active {
    z-index: 0 !important;
    background-color: #1498D5;
}

    .btn-bet-active.active {
        color: #ffffff;
        background-color: #222222;
        border-color: #285e8e;
    }


.disabled-radio:hover {
    color: red;
}

.disabled-radio:active {
    pointer-events: none;
}

.blue-text > li > a,
.blue-text > li > button {
    color: #1498D5 !important;
    font-weight: bold;
}

    .blue-text > li > a:hover,
    .blue-text > li > button:hover {
        color: #FFFFFF !important;
    }

.dropdown-background {
    background-color: #333;
}

    .dropdown-background > li > a:hover {
        color: #FFFFFF !important;
        background-color: black;
    }

.winner {
    background-color: #33ff77;
}

.runner {
    background-color: #ffd633;
}

.winner:hover {
    background-color: #66ff99 !important;
}

.runner:hover {
    background-color: #ffff66 !important;
}